<p style="color: green"><%= notice %></p>

<h1>Trees</h1>

<div id="trees">
  <% @trees.each do |tree| %>
    <p>
      <%= link_to "Tree #{tree.id}", tree %>
    </p>
  <% end %>
</div>

<%= link_to "New tree", new_tree_path %>
